<div id="utterances-container"></div>

<script>
  const script = document.createElement("script");
  const container = document.querySelector("#utterances-container");
  const currentTheme = localStorage.getItem("theme");

  Object.entries({
    src: "https://utteranc.es/client.js",
    repo: "DominikPieper/nx-architectures",
    "issue-term": "url",
    label: "Comments",
    theme: currentTheme == "light" ? "github-light" : "github-dark",
    crossorigin: "anonymous",
  }).forEach(([key, value]) => {
    script.setAttribute(key, value);
  });

  container?.appendChild(script);
</script>